 /* #F3F5F7 , #BE36B3 */

/
.titulo {
  font-size: 6rem;
  color: #0000ff;
  text-align: center;
}

.imagem {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.fundo {
  background-color: pink;
} 